/* SOME DEMO STYLES - NOT REQUIRED */
body,
html {
    /*background-color: green !important;*/
    color:#fff !important;
}

body h1,
body h2,
body h3,
body h4 {
    color: rgba(255, 255, 255, 0.9);
}
body p,
body blockquote {
    color: rgba(255, 255, 255, 0.7);
}
body a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}
body a:hover {
    color: #fff;
}

#header {
    padding:5px 75px;
    background-color:lightpink;
    border:1px solid deeppink;
    margin-bottom:25px;
    font-size:1.5em;
}

.required {
    font-weight:bold;
    color:red;
}

#submit-btns {
    margin-top:25px;
}

.form-group {
    overflow:hidden;
}

.thumbnail {
 border-radius: 5px;
}

#page-number select{
    width:100%
}

.story-title {
    width: 300px;
    background-color: #d2ffca;
    margin: 1px auto;
    border-radius:5px;
}

#story select {
    width:100%;
}

.story-title {
    padding: 5px 10px;
}

#gallery {
    margin-top:50px;
}

.action-icons {
    margin-top: 10px;
}

.action-icons a {
    margin:0 3px;
}

.home-links {
    margin: 25px 0;
}